/build/
/resources/sass/.sass-cache/
/.architect
/bootstrap.css
/bootstrap.js
/bootstrap.json
/bootstrap.jsonp
/resources/.arch-internal-preview.css
/.arch-internal-preview.css
/build.xml
/workspace.json
/sencha-error-*.log

/classic.jsonp
/modern.jsonp
/classic.json
/modern.json
/classic/
/modern/
/ext/

/docs/archive/

