build/
resources/sass/.sass-cache/
.architect
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp
classic.jsonp
modern.jsonp
resources/.arch-internal-preview.css
.arch-internal-preview.css
build.xml
workspace.json
sencha-error-*.log
docs/archive/

ext2/
modern2/
classic2/
